@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Cantarell');

* {
    margin: 0;
    padding: 0;
} 

html {
    background: url(assets/travel.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}



body {

    /* Needed to position the navbar */
    /* position: relative; */

    font-family: 'Raleway', serif;
}

/*header {
    font-size: 10px;
    text-align: center;
    color: antiquewhite;

}*/


/* Navigation bar*/

.navigation li {
    /*the color is for the li elements bars*/
    float: left;
    background-color: #004d40;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    









}

.navigation ul {
    /* the color is for the bar next to li element*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004d40;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);






}


.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    
    text-decoration: none;
    transition: 0.4s;


}

.navigation a:hover {

    background-color: #39796b;
    color: white;
    font-weight: 900;
    padding: 14px 16px;

    /* font-family: 'Cantarell', sans-serif; */


}



h1 {
    font-family: 'Raleway', serif;
    font-weight: 800;
    line-height: 1.6;
    /*margin: 20px 40px;
    width: 90%;*/
    font-size: 25px;
    text-align: center;
    color: white;
    text-decoration-line: none;
    padding-top: 10px;
}

p {
    /* padding: 100px 20px 20px 20px; */
    font-family: 'Raleway', serif;
    font-size: 15px;
    color:white;
    border-right: 5px;
    border-left: 5px;
    border-color: white;
    text-align: justify;

/* padding takes up the freed space */

    /* padding-left: 80em;
    padding-top: 5em;
    padding-right: 10em; */

    /* padding-top: 20px; */

}
/* 
section {

    /*padding: 20px;*/
    /* text-align: justify;

} */ 



.textbox{

    border: 20px 20px 20px 20px;
    border-color: black;

   /* margin-left: 60em;
   margin-top: 8em;
   margin-right: 12em;  */


}
.textpos{

    width: 50%;
    text-align: right;

    float:right;
}

img{
    width:50%;
    float: left;
    
}




/* First box */
/* 
.firstbox {
    float: right;
    /* border: 5px solid black;   
overflow: auto;
 align-content: right; */
    /* padding-top: 100px;


    font-size: 20px;
    font-family: 'Cantarell', serif;  */



/* 
.imgone {
    float: left;
    /* height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px; */
    /* align-content: left; */
    /* margin: 100px 50px 75px 1px;  */








/*footer*/

/* .footer {

    padding: 20px;
    border: 1px solid black;


} */